
.header{
    margin-top: 0px;
    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color: rgb(232, 227, 227);
    border-bottom-style: solid;
    height:50px;
    
}


.search-box{
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    border-color:  rgb(249, 249, 249);
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 8px;
    color: black;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    background-color: transparent;
    
    
    
}

.logo{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    
}

.write{
    background-image: "https://www.clipartmax.com/png/middle/8-89257_notepad-svg-png-icon-free-download-notepad-icon-png.png" ;
}

.container-1{
    width: 350px;
    margin-left: 140px;
    margin-top: 70px;
    display: inline-block;
   
}

.recommended-stories{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    margin-left: 8px;
    display: inline-block;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se ;
    color: rgb(36, 36, 36)
}

.web-dev{
    margin-right: 8px;
    color: rgb(107, 107, 107);

    
}

.main-heading{
    margin-top: 50px;
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    font-weight: 500px;
    overflow: hidden;
    color: rgb(36, 36, 36);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
}



.container-2{
    display:inline-block;
    margin-top: 70px;
    margin-bottom: 30px;
    width:500px;
    vertical-align: top;
    margin-left: 200px;
    border-width: 20px;
    border-bottom-width:2px;
    border-bottom-color: rgb(232, 227, 227);
    border-bottom-style: solid;


}

.user1pic{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
}

.user1about{
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    font-size: medium;
    
}

.user1text{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se; 
    font-size: 18px;
    color:gray;
   
}
.heading1{
    font-size: 30px;
    font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    color:black;
    
}

.danielimg{
   float: right;
   vertical-align: top;
   object-fit: contain;
    
}


.container-3{
    margin-left:700px;
    width: 500px;
    
}

.subtext{
    font-size: 15px;
    letter-spacing: 0.4px;
    font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    color:gray;
    padding-bottom: 0px;
    vertical-align: top;
}

.footer{
    margin-left: 100px;
    
    
}

.subtextfooter{
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    color:gray;
    padding-bottom: 0px;
    vertical-align: top;

}


.star{
    height:20px;
    width:23px;
    vertical-align: top;
    margin-top: 0px;
    
}

.star-pic{
    height:16px;
    width: 10px;
    display: inline
    
}

.edit{
    margin-left: 940px;
    height:22px;
    width:27px;
    vertical-align: top;
    margin-top: 15px;
}

.write{
    display: inline-block;
    height:58px;
    width: 20px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-left: 2px;
    font-size: 15px;
    
}

.write-text{
    margin-top: 0px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;;
    color:gray;
}

.other-icons{
    height:37px;
    width:125px;
    margin-left: 40px;
    vertical-align: top;
    margin-top: 10px;
}

.threesixty{
    height:90px;
    width: 10px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 0px;
}
.threesixtytext{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    color:gray;
    font-size: 14px;
    

    
}

.clap{
    height:30px;
    width:30px;
    vertical-align: text-bottom;
    margin-bottom: 0px;
    margin-top: 10px;
   
    
}

.comment{
    height:25px;
    width:30px;
    vertical-align: text-bottom;
    
}

.others{
    height:10px;
    display: inline-block;
    margin-top: 10px;
}
.other-reactions{
    height: 40px;
    margin-left: 40px;
    vertical-align: middle;
    object-fit: contain;
    margin-left: 250px;
    
}
.pic1{
    height: 170px;
    display: inline-block;
}

.gradpic{
    height: 130px;
    object-fit: contain;
    margin-bottom: 40px;
    margin-left: 20px;
}

.pic2{
   display: inline-block;
   height: 60px;
   float: right;

}


.langchainpic{
    height: 130px;
    object-fit: contain;
    margin-right: 48px;
    margin-top: 50px;

}

.four{
    font-size: 14px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-se;
    color: gray;
}